$white: #FFF;

$light-gray: #F9F9F9;
$dark-gray: #9F9F9F;

$light-green: #AAD780;
$dark-green: #7A973C;
$punchy-green: #25C064;
$green: #99BD3C;

$orange: #DFB100;

$purple: #A593E4;

$base-font-size: 16px !default;
$base-line-height: 24px !default;

$heading-size-1:  36px !default;
$heading-size-2:  30px !default;
$heading-size-3:  24px !default;
$heading-size-4:  20px !default;
$heading-size-5:  16px !default;
$heading-size-6:  14px !default;

$pill-padding: em(3px) !default;
$pill-border-radius: em(16px) !default;
$pill-color: #fff !default;
$pill-font-size: 10px !default;
